<% localized_day_names = I18n.t('date.day_names', :locale => :en).sort {|a,b| a.first <=> b.first} %>
<% localized_day_names.each do |n, day_name| %>
  <p>
    <label><%= "#{day_name} #{t('from')} - #{t('to')}" %></label>
    <%= text_field_tag "settings[#{day_name.downcase}_hours_from]", @settings["#{day_name.downcase}_hours_from"], :size => 6 %>
    <%=  text_field_tag "settings[#{day_name.downcase}_hours_to]", @settings["#{day_name.downcase}_hours_to"], :size => 6 %>
  </p>
  
<% end %>

  <p>
    <label><%= t('holidays') %></label>
    <%= text_area_tag 'settings[holidays]', @settings[:holidays], :cols => 30, :rows => 10 %><br />
    <%= t('holidays_hint') %>
  </p>
